<script type="text/javascript">
  var northArr = <%=@northbound_arr%>;
  var northStops = <%= @northstop_arr %>;
</script>

<div>  </div>
<button id="thing"> thing</button>
<div id="location"> hello</div>
<button src="" id="north"> CalTrain NorthBound </button>
<button src="" id="south"> CalTrain SouthBound </button>
<div id="map"></div>




<h1 style="text-align:center"> Departure Times </h1>

<table style="width:100%">
  <tr>
    <th>Northbound</th>
    <th>SouthBound</th>
  </tr>
</table>

  <% @northbound_arr.each_with_index do |stopname, index| %>
    <h3> <%= index + 1 %>. <%= stopname%></h3>
      <%= stopcode = @northstop_arr[index] %>
      <div>
      <% stop = DepartureTime.new(stopcode) %>
      <%= stop.get_stops %>
  <% end%>



<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&callback=initMap">
</script>

