<script type="text/javascript">
  var northArr = <%=@northbound_arr%>;
  var northStops = <%= @northstop_arr %>;
  var southArr = <%=@southbound_arr%>;
  var southStops = <%= @southstop_arr %>;
</script>

<div>
  <% neww = CalTrain.new%>
  <%= neww.get_next_departuretime_by_code%>
</div>

<div id="coordinates">
  <h2> Your Coordinates:</h2>
  <div id="location"> <h3>Hello!</h3></div>
</div>
<br>

<div id="map"></div>

<h1 style="text-align:center"> Caltrain Departure Times </h1>
<div class="buttonWrap"
  <button src="" id="mapButton"> Show Caltrain Stops!</button>
</div>
<br>
<br>

<div id="table_container">
  <table style="width:50%">
    <tr>
      <th><h2>Northbound</h2></th>
    </tr>

    <%# @northbound_arr.each_with_index do |stopname, index| %>
    <tr>
      <td><h3> <%#= index + 1 %>. <%#= stopname%></h3></td>
        <%#= stopcode = @northstop_arr[index] %>
        <%# stop = CalTrain.new(stopname, @northstop_arr[index] ) %>
        <td><%#= stop.get_stops_by_name %></td>
    </tr>
    <%# end%>
  </table>
  <table style="width:50%">
    <tr>
      <th><h2>Southbound</h2></th>
    </tr>
    <%# @southbound_arr.each_with_index do |stopname, index| %>
    <tr>
      <td><h3> <%#= index + 1 %>. <%#= stopname%></h3></td>
        <%# stopcode = @southstop_arr[index] %>
        <%# stop = CalTrain.new(stopname, @southstop_arr[index] ) %>
        <td><%#= stop.get_stops_by_code %></td>
    </tr>
    <%# end%>
  </table>
</div>



<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&callback=initMap">
</script>

