<script type="text/javascript">
  var northArr = <%=@northbound_arr%>;
  var northStops = <%= @northstop_arr %>;
  var southArr = <%=@southbound_arr%>;
  var southStops = <%= @southstop_arr %>;
</script>

<br>
<div id="map"></div>

<h1 style="text-align:center"> Caltrain Departure Times </h1>
<div class="buttonWrap"
  <button src="" id="mapButton"> Show Caltrain Stops!</button>
</div>
<br>
<br>

  <table style="width:100"%>
    <tr>
      <th><h2>Station Name</h2></th>
      <th><h2>Route Direction</h2></th>
      <th><h2>Departure Time</h2></th>
    </tr>
    <% neww = CalTrain.new%>
    <% neww.display_departures%>
    <% neww.stop_name%>
    <% neww.stop_name.each do |stop_name|%>
    <% ap stop_name%>
    <tr>
      <td><h4><%= stop_name[:name]%></h4></td>
      <% stop_name[:route_direction].each do |direction| %>
      <td><h4><%= direction %></h4></td>
        <%end%>
      <%end%>
      <td><h4><% neww.departuretime%></h4></td>
    </tr>
  </table>



<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&callback=initMap">
</script>

