<script type="text/javascript">
  var northArr = <%=@northbound_arr%>;
  var northStops = <%= @northstop_arr %>;
</script>

<div> <%= @departuretime %> </div>
<button id="thing"> thing</button>
<div id="location"> hello</div>
<button src="" id="north"> CalTrain NorthBound </button>
<button src="" id="south"> CalTrain SouthBound </button>
<div id="map"></div>

<h1> Departure Times </h1>
  <h2> Northbound </h2>
  <% @northbound_arr.each_with_index do |stopname, index| %>
    <h3> <%= index + 1 %>. <%= stopname%></h3>
      <%= stopcode = @northstop_arr[index] %>
      <% stop = DepartureTime.new(stopcode) %>
      <%= stop.get_stops %>
  <% end%>



<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&callback=initMap">
</script>

